<?xml version="1.0" encoding="utf-8"?>
<!---->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MvcReportViewer" type="MvcReportViewer.Configuration.MvcReportViewerSettings, MvcReportViewer" />
  </configSections>

  <MvcReportViewer reportServerUrl="http://104.36.166.65/reportserver" username="administrator" password="lDCn1MSi" aspxViewer="~/MvcReportViewer.aspx" aspxViewerJavaScript="~/Scripts/MvcReportViewer.js" errorPage="~/MvcReportViewerErrorPage.html" showErrorPage="false" isAzureSSRS="false" encryptParameters="false" localDataSourceProvider="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />

  <appSettings>
    <!---->
    <!--  NOL | Inicio  -->
    <!-- Required by Microsoft ReportViewer control -->
    <!-- Required by Microsoft ReportViewer control -->
    <add key="ModuleName" value="TYS" />
    <add key="ModuleAcronym" value="NEP" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="rutaArchivoBindings" value="D:\RIA\RIA\2019\Proyectos\TYS\App\TYS\Discovery\BindingsTYS.txt" />
    
    <add key="SMTPSERVER" value="mail.smartway.com.pe" />
    <add key="CORREO-PRUEBA-ACTIVO" value="1" />
    <add key="CORREO-PRUEBA" value="enrique.rojas@riabc.net;exel.baca@tys.com.pe" />
    <add key="MAIL_SMTP" value="sir_serviciotecnico@smartway.com.pe" />
    <add key="SMTP_PASSWORD" value="Root2018" />
    
    <add key="DefaultActiveDirectoryServer" value="mail.tys.com.pe" />
    <add key="Ruta_Grabar_Envio" value="D:\\" />
    <add key="Prefijo_ArchivoEnvio" value="TXT_ENVIO" />
    <add key="dominio" value="DOMNEP" />
    <add key="LogFile" value="D:\GTI_Aplicaciones\NOL\Logs\Web" />
    <add key="numcarga" value="OC01-000001" />
    <add key="numcp" value="100-000001" />
    <add key="numcc" value="200-000001" />
    <add key="numman" value="010-000001" />
    <add key="numhojaruta" value="020-000001" />
    <add key="numliq" value="030-000001" />
    <add key="numemb" value="040-000001" />
    <add key="igv" value="0.18" />

    <!--<add key="Uploads" value="~/UploadedFiles/" />-->
    <add key="Uploads" value="H:\RIA\TYS\src\web\Web.TYS\UploadedFiles\" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
    <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />
    <add key="MvcReportViewer.ShowErrorPage" value="True" />
    <add key="MvcReportViewer.ReportServerUrl" value="http://104.36.166.65/ReportServer" />
    <add key="MvcReportViewer.Username" value="administrator" />
    <add key="MvcReportViewer.Password" value="lDCn1MSi" />
    <add key="MvcReportViewer.EncryptParameters" value="False" />
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />
  </appSettings>

  <system.web>

    <globalization uiCulture="es" culture="es-PE" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!-- MGZP | se modifico los valores timeout,protection,slidingExpiration,enableCrossAppRedirects y cookieless  -->
    <!--      | para que se pueda manejar distintas sesiones por pestaña o pagina del navegador -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/SignIn" defaultUrl="~/Account/Index" timeout="15000000" protection="All" slidingExpiration="false" enableCrossAppRedirects="false" cookieless="UseUri" />
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="Web.TYS.Security.CustomMembershipProvider" cacheTimeoutInMinutes="30" />
      </providers>
    </membership>
    <sessionState timeout="70" />
    <customErrors mode="Off" defaultRedirect="~/ServerError">
      <error statusCode="404" redirect="~/NotFound" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <!-- Required by Microsoft ReportViewer control -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBackendService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="TCP_Binding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="4194304" maxBufferSize="524288" maxConnections="150" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="UserDatabaseConnectionBehavior" type="Infraestructure.Common.UserDatabaseConnection.UserDatabaseConnectionBehavior, Infraestructure.Common" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="UserDatabaseConnectionEndpointBehavior">
          <UserDatabaseConnectionBehavior />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint behaviorConfiguration="UserDatabaseConnectionEndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBackendService" contract="tysReference.IBackendService" name="TysWSHttpBinding_IBackendService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBackendService" contract="CoreReference.IBackendService" name="CoreWSHttpBinding_IBackendService" behaviorConfiguration="UserDatabaseConnectionEndpointBehavior">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!-- Required by Microsoft ReportViewer control -->
      <!-- Required by Microsoft ReportViewer control -->
    </handlers>
  </system.webServer>
</configuration>