@using MvcReportViewer;

<div class="modal-header">
    <h4 class="modal-title">Orden de Transporte</h4>
</div>
@section scripts
{
    
}
<div class="pane-body text-center">
    <div class="col-md-12 text-center">

        @Html.MvcReportViewer("" + TempData["Reporte"] + "", new
                               {
                                   idordentrabajo = TempData["idordentrabajo"]
                                 
                               }, new { Height = 500, Width = 850, style = "border: none" })
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn  btn-outline btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-times-circle-o"></i>  Cancelar</button>

</div>
