<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Se actualizaron los datos correctamente.</h2>
        
    </div>
    <div class="col-lg-2">

    </div>
</div>